.container {
    height: 100%;
    background: lightgrey;

    .title {
        font-size: 72px;
    }

    .content {
        padding: 100px;

        .mat-card {
            .mat-card-header {
                padding: 10px 0 10px 0;

                ::ng-deep.mat-card-header-text {
                    margin: 0 0;
                }
            }

            .mat-card-actions {
                button {
                    height: 48px;
                }
            }
        }
    }
}


